.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.DS_Store
.env
music/*
!music/rock/
!music/jazz/
music/rock/*
music/jazz/*
!music/rock/.gitkeep
!music/jazz/.gitkeep
*.flac
*.mp3
*.ogg
*.wav
*.m4a
